<p id="notice"><%= notice %></p>

<p>
  <b>Uri:</b>
  <%= @annotation.uri %>
</p>

<p>
  <b>Author uri:</b>
  <%= @annotation.author_uri %>
</p>


<%= link_to 'Edit', edit_annotation_path(@annotation) %> |
<%= link_to 'Back', annotations_path %>
